# Creating a template for Data Scraping 
### Top players from Tribal Wars

In [106]:
# Importing the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [107]:
# Creating a pop up to the user to input the world number
world_number = input('Enter the world number: ')

In [ ]:
# Setting the URL
url = rf'https://br.twstats.com/br{world_number}/index.php?page=rankings&mode=players'
# Requesting the page
page = requests.get(url)
# Parsing the page
soup = BeautifulSoup(page.content, 'html.parser')
# Displaying the page
print(soup.prettify())

In [ ]:
# Getting a list of all the data from the tag th (table header)
titles = soup.find_all('th')
#Getting the text from th and making a list
titles = [title.get_text() for title in titles]

In [ ]:
# Getting a list of all the data from the tag td (table data)
data = soup.find_all('td')
# Getting the text from td and making a list
data = [rawdata.get_text() for rawdata in data]
newdata = data[3:-3]

In [113]:
# Reshape newdata into a 2D list where each sub-list is a row of data
reshaped_data = [newdata[i:i+6] for i in range(0, len(newdata), 6)]
# Create a DataFrame using reshaped_data and titles excluding index
df = pd.DataFrame(reshaped_data, columns=titles)
# Add a column to the DataFrame with the world number
df['World'] = world_number
display(df)

,Posição,Nome,Tribo,Pontos,Aldeias,Média de pontos por aldeia,World
0,1,Mighty King,Nenhum,"3,533,840",311,"11,363",124
1,2,Mané Galinha,XPK,"3,231,761",326,"9,913",124
2,3,Sublime,XPK,"2,831,818",267,"10,606",124
3,4,Matheusszika,XPK,"2,748,183",277,"9,921",124
4,5,BAD BOYS REVENGE,Lost,"2,536,646",244,"10,396",124
5,6,Kaniel Outis,XPK,"2,501,517",262,"9,548",124
6,7,Dick Dastardly,XPK,"2,390,909",238,"10,046",124
7,8,- Caça-Pato,XPK,"2,383,595",234,"10,186",124
8,9,Ratueira3,XPK,"2,302,275",231,"9,967",124
9,10,JoMaHei,XPK,"2,279,869",229,"9,956",124
10,11,feijaoxdtu,[Lost],"2,260,905",237,"9,540",124
11,12,Dark Heitor,XPK,"2,232,686",255,"8,756",124
12,13,We are Bad,[Lost],"2,209,331",225,"9,819",124
13,14,Lord Trafalgar Law,XPK,"2,102,909",234,"8,987",124
14,15,ReinoDaMaromba,[NFS],"2,089,599",212,"9,857",124
15,16,Suets,XPK,"2,084,665",224,"9,307",124
16,17,OvoDeJaguatirica,FTA,"2,053,720",230,"8,929",124
17,18,Wars-Lord,[Lost],"2,031,114",188,"10,804",124
18,19,henri,[Lost],"2,019,200",224,"9,014",124
19,20,Carta na Manga,[Lost],"1,891,570",196,"9,651",124

# Collecting the data from the top players of all worlds

In [ ]:
# Now we will do the same process for world 1 to 126 (all worlds) and return a DataFrame with all the data
def get_top_players():
    # Create an empty list to store the DataFrames
    df_list = []
    # Loop through the worlds 1 to 126
    for world in range(1, 127):
        # Setting the URL
        url = rf'https://br.twstats.com/br{world}/index.php?page=rankings&mode=players'
        # Requesting the page
        page = requests.get(url)
        # Parsing the page
        soup = BeautifulSoup(page.content, 'html.parser')
        # Getting a list of all the data from the tag th (table header)
        titles = soup.find_all('th')
        # Getting the text from th and making a list
        titles = [title.get_text() for title in titles]
        # Getting a list of all the data from the tag td (table data)
        data = soup.find_all('td')
        # Getting the text from td and making a list
        data = [rawdata.get_text() for rawdata in data]
        newdata = data[3:-3]
        # Reshape newdata into a 2D list where each sub-list is a row of data
        reshaped_data = [newdata[i:i+6] for i in range(0, len(newdata), 6)]
        # Create a DataFrame using reshaped_data and titles 
        df = pd.DataFrame(reshaped_data, columns=titles)
        # Add a column to the DataFrame with the world number
        df['World'] = world
        # Append the DataFrame to the list
        df_list.append(df)
    # Concatenate all the DataFrames in the list
    result = pd.concat(df_list, ignore_index=True)
    return result

# Create a excel file with the data
df = get_top_players()
df.to_excel('top_players.xlsx', index=False)

# Collecting the data from the top tribes of all worlds

In [105]:
def get_top_tribes():
    df_list = []
    for world in range(1, 127):
        url = rf'https://br.twstats.com/br{world}/index.php?page=rankings&mode=tribes'
        page = requests.get(url)
        soup = BeautifulSoup(page.content, 'html.parser')
        
        titles = soup.find_all('th')
        titles = [title.get_text() for title in titles]

        data = soup.find_all('td')
        data = [rawdata.get_text() for rawdata in data]
        newdata = data[3:-3]

        reshaped_data = [newdata[i:i + 8] for i in range(0, len(newdata), 8)]
        df = pd.DataFrame(reshaped_data, columns=titles)
        
        df['World'] = world
        df_list.append(df)
        print(f"The world {world} was collected!")

    result = pd.concat(df_list, ignore_index=True)
    return result

df = get_top_tribes()

df.to_excel('top_tribes.xlsx', index=False)
print("Dataframe successfully created!")

The world 1 was colected!
The world 2 was colected!
The world 3 was colected!
The world 4 was colected!
The world 5 was colected!
The world 6 was colected!
The world 7 was colected!
The world 8 was colected!
The world 9 was colected!
The world 10 was colected!
The world 11 was colected!
The world 12 was colected!
The world 13 was colected!
The world 14 was colected!
The world 15 was colected!
The world 16 was colected!
The world 17 was colected!
The world 18 was colected!
The world 19 was colected!
The world 20 was colected!
The world 21 was colected!
The world 22 was colected!
The world 23 was colected!
The world 24 was colected!
The world 25 was colected!
The world 26 was colected!
The world 27 was colected!
The world 28 was colected!
The world 29 was colected!
The world 30 was colected!
The world 31 was colected!
The world 32 was colected!
The world 33 was colected!
The world 34 was colected!
The world 35 was colected!
The world 36 was colected!
The world 37 was colected!
The world 38 was colected!
The world 39 was colected!
The world 40 was colected!
The world 41 was colected!
The world 42 was colected!
The world 43 was colected!
The world 44 was colected!
The world 45 was colected!
The world 46 was colected!
The world 47 was colected!
The world 48 was colected!
The world 49 was colected!
The world 50 was colected!
The world 51 was colected!
The world 52 was colected!
The world 53 was colected!
The world 54 was colected!
The world 55 was colected!
The world 56 was colected!
The world 57 was colected!
The world 58 was colected!
The world 59 was colected!
The world 60 was colected!
The world 61 was colected!
The world 62 was colected!
The world 63 was colected!
The world 64 was colected!
The world 65 was colected!
The world 66 was colected!
The world 67 was colected!
The world 68 was colected!
The world 69 was colected!
The world 70 was colected!
The world 71 was colected!
The world 72 was colected!
The world 73 was colected!
The world 74 was colected!
The world 75 was colected!
The world 76 was colected!
The world 77 was colected!
The world 78 was colected!
The world 79 was colected!
The world 80 was colected!
The world 81 was colected!
The world 82 was colected!
The world 83 was colected!
The world 84 was colected!
The world 85 was colected!
The world 86 was colected!
The world 87 was colected!
The world 88 was colected!
The world 89 was colected!
The world 90 was colected!
The world 91 was colected!
The world 92 was colected!
The world 93 was colected!
The world 94 was colected!
The world 95 was colected!
The world 96 was colected!
The world 97 was colected!
The world 98 was colected!
The world 99 was colected!
The world 100 was colected!
The world 101 was colected!
The world 102 was colected!
The world 103 was colected!
The world 104 was colected!
The world 105 was colected!
The world 106 was colected!
The world 107 was colected!
The world 108 was colected!
The world 109 was colected!
The world 110 was colected!
The world 111 was colected!
The world 112 was colected!
The world 113 was colected!
The world 114 was colected!
The world 115 was colected!
The world 116 was colected!
The world 117 was colected!
The world 118 was colected!
The world 119 was colected!
The world 120 was colected!
The world 121 was colected!
The world 122 was colected!
The world 123 was colected!
The world 124 was colected!
The world 125 was colected!
The world 126 was colected!
Dataframe successfully created!